<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>

    <style>
        .container {
            margin: 0 auto;
            max-width: 1920px;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Edit book</h1>
    <form th:action="@{/books/{book_id}/edit(book_id=${book.getBook_id()})}" th:method="PATCH" th:object="${book}">
        <label for="name">Name: </label>
        <input th:field="*{name}" id="name">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</div>
        <br/>
        <label for="author">Author: </label>
        <input th:field="*{author}" id="author">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error author</div>
        <br/>
        <label for="year">Year: </label>
        <input th:field="*{year}" id="year">
        <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error year</div>
        <br/>
        <input type="submit" value="Edit book!">
    </form>
</div>

</body>
</html>